# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE specific folders
.vscode
/.idea

# dependencies
/node_modules

# misc
.DS_Store

# package lock files
package-lock.json
yarn.lock

# log files
*.log
